# ------- ignore some files- ----------
# vs/ Visual Studio IDE files, mostyl includes: .suo, .sln, .vspscc, .vssscc
# obj/ # Object files mostly includes: .o, .a, .so, .exe, .dll, .pdb
# bin?
# sln?

# Ignore folders:
/.vs
/obj
/bin
